<h1>Welcome <%= @user.first_name %></h1>

<p>Thanks for joining WynTaste! This is your number one resource for tracking your wines.</p>

<p>To get started, add a picture of yourself, then move onto creating your first post!</p>

<p>To upload your picture, please click <strong>here</strong>.</p>

<%= link_to 'Later', new_user_profile_users_path %>
<%= link_to 'Log Out', logout_path, data: { turbo_method: :delete } %>
